body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contentPart{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.content{
  width: 70%;
  height: 70%;
}

.oddContentPart{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("../media/oddBackground.svg");
}

.evenContentPart{
  overflow: hidden;
  background-repeat: no-repeat;
  height: 120vh;
  background-size: 90% 80%;
  background-position: center;
  background-image: url("../media/evenBackground.svg");  
}
